TF_PLUGIN_CACHE_DIR="$HOME/.cache/tofu-plugins"

TF_VAR_libvirt_uri="qemu:///system"
TF_VAR_distro_lab_path="/storage/distro-lab"
TF_VAR_pool="images"
TF_VAR_network="default"

TF_VAR_username="fredrir"
TF_VAR_ssh_authorized_keys='["ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP7e69HsqnaggjeyngV0qUOurh5F9VMs7cudV0mu0QzD fhansteen@gmail.com","ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH0jzc3S05J0DFj3W+Gv6J4Hc9fxvUjIOEuTWKfVnVY9 fhansteen@gmail.com"]'

TF_VAR_gentoo_dev_memory_mib=6144
TF_VAR_gentoo_dev_vcpus=4
TF_VAR_gentoo_dev_disk_size_bytes=53687091200
TF_VAR_gentoo_dev_image_url="file://${TF_VAR_distro_lab_path}/ISOs/di-amd64-cloudinit-20260809T143052Z.qcow2"

TF_VAR_nixos_dev_memory_mib=6144
TF_VAR_nixos_dev_vcpus=4
TF_VAR_nixos_dev_disk_size_bytes=53687091200
TF_VAR_nixos_dev_iso="nixos-minimal-26.05.7201.ee48b147c18c-x86_64-linux.iso"
TF_VAR_nixos_dev_boot_order='["hd","cdrom"]'

TF_VAR_ubuntu_dev_memory_mib=6144
TF_VAR_ubuntu_dev_vcpus=4
TF_VAR_ubuntu_dev_disk_size_bytes=53687091200
TF_VAR_ubuntu_dev_image_url="file://${TF_VAR_distro_lab_path}/ISOs/ubuntu-26.04-server-cloudimg-amd64.img"
