# System
DISTRO_LAB_PATH="/storage/distro-lab"


# ---- ssh/authorized_keys ----
SSH_AUTHORIZED_KEYS=["ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP7e69HsqnaggjeyngV0qUOurh5F9VMs7cudV0mu0QzD", "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH0jzc3S05J0DFj3W+Gv6J4Hc9fxvUjIOEuTWKfVnVY9"]