TF_PLUGIN_CACHE_DIR="$HOME/.cache/tofu-plugins"

TF_VAR_libvirt_uri="qemu:///system"
TF_VAR_distro_lab_path="/storage/distro-lab"
TF_VAR_pool="images"
TF_VAR_network="dlab"
TF_VAR_subnet_prefix="192.168.123"

TF_VAR_username="fredrir"
TF_VAR_ssh_authorized_keys='["ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP7e69HsqnaggjeyngV0qUOurh5F9VMs7cudV0mu0QzD fhansteen@gmail.com","ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH0jzc3S05J0DFj3W+Gv6J4Hc9fxvUjIOEuTWKfVnVY9 fhansteen@gmail.com"]'
