[Unit]
Description=Stop idle dlab VMs
After=libvirtd.service
Wants=libvirtd.service

[Service]
Type=oneshot
ExecStart=/home/fredrir/projects/distro-lab/src/vm/bin/dlab-idle-stop
